/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;

}
.container {
    width: 100%;
    max-width: 1149px;
    margin: 0 auto 50px;
}

.header {

    display: flex;
    justify-content: space-between;
    margin: 60px 0 69px 0 ;

}

.header-logo {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}
.header-menu li {
    display: inline-block;
}
.header-menu a:hover{
    color: #ffe1bd;
    padding-bottom: 5px;
    background: url("../img/line_626.png") no-repeat bottom right;
    background-size: 40%;

}
.header-menu a {
    flex: 1 1 auto;
    font-size: 18px;
    font-weight: 300;
    color: #989898;
    text-decoration: none;
    padding: 0 0 0 25px;
    transition: font-size 0.1ms;
}

.slider {
    max-height: 520px;
    height: 520px;
    background: linear-gradient(45deg,#ffe1bd,#9f9f9f);
    position: relative;
    margin-bottom: 87px;




}

.slider-column1 {
    padding: 100px 0 0 0;
    max-width: 365px;
    margin: 0 auto;
}

.slider-column1__item1 {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    text-align: center;

    }
.slider-column1__item1 span{
    font-size: 72px;
}
.slider-column1__item1:after{
    content: '';
    display: block;
    width: 55px;
    height: 2px;
    background-color: #000000;
    margin: 10px auto 25px;
}

.slider-column1__item2 {
    font-size: 24px;
    font-weight:300;
    color: #000000;
    margin: 0 auto 80px;
    text-align: center;
}


.button {
    background-color: #000000;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;

}


.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-column2 {
    position: absolute;
    top: 42%;
    right: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;


}

.slider-column2__button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: black 1px solid;
    margin:0 29px 17px 0 ;
}

.slider-column2__button:hover {
    content: '';
    width: 15px;
    height: 15px;

}
.active {
    background-color: black;
}

.header2 {
    font-size: 60px;
    line-height: 48px;
    font-weight: 100;
    color: #000000;
    text-align: center;
    margin-bottom: 100px;
}

.main {
    margin: 0 0 82px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.main2 {
    margin: 0 0 82px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.main2 .main_img{
    order:2;
}
.main_img {
    flex: 0 0 560px;
    max-width: 100%;
    margin-bottom: 25px;

}


.main_info {
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 490px;
    width: 100%;
    height: 100%;

}

.main_info_header {
    font-size: 30px;
    font-weight: 300;
    color: #000000;
    line-height: 9px;

}
.main_info_subheader {
    color: #000000;
    font-size: 48px;
    font-weight: 700;



}
.main_info_subheader::after {
    content: '';
    display: block;
    width: 55px;
    height: 2px;
    background-color: #000000;
    margin:11px 0 0 0;

}

.main p {
    font-size: 18px;
    font-weight: 300;
    color: #656565;

}
.main2 p {
    font-size: 18px;
    font-weight: 300;
    color: #656565;
}
.main p:nth-child(1n+1){
    margin-top: 22px;

}

.main_info_container {

    margin-top: 28px;
    max-height: 100%;


    justify-content: space-between;
}

.info_button {
    display: inline-block;
    width: 170px;
    height: 50px;
    border: 1px solid #d8d8d8;
    border-radius: 25px;
    text-align: center;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    text-decoration: none;
    margin-top: 49px;
    margin-bottom: 25px;
}
.info_button:hover{
    background-color: #656565;
    color: white;
}
.container main:last-child{
    margin-bottom: 80px;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1 auto;
    margin: 0 auto;
}
.item1 {
    flex: 1 1 auto;
    max-width: 364px;
    height: 100%;
    padding: 10px;
}
.item1 img{
    border: #e5e5e5 2px solid;
    height: 560px;
    width: 364px;
    object-fit: cover;

}
.item1 img:first-child{
    margin-bottom: 28px;
    width: 360px;
    height: 360px;
}
.item1 img{
    border: #e5e5e5 2px solid;
    max-height: 560px;
    object-fit: cover;


}
.item1:nth-child(2){
    display: flex;
    flex-direction: column-reverse;
}
.item1 img:nth-child(2){
    margin: 0 0 28px 0;
    min-height: 560px;
}
.item1 img:nth-child(1){
    margin: 0 0 28px 0;
    min-height: 360px;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn .info_button {
    background-color: black;
    color: #fff;

}
.btn .info_button:hover{
    background-color: #656565;
    color: white;
}
.fullWightContainer {
    max-width: 2560px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe1bd;
    margin: 0 auto 50px;
    flex:1 1 auto;
}
.fullWightContainer a{
    padding: 0 20px;

}

.fullWightContainer .container{
    padding-top: 80px;

}
.workersPhoto{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.workersPhoto .item2{
    max-width: 224px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-height: 708px;
    flex: 1 1 auto;
    margin: 0 30px;


}
.item2:nth-child(2){
    margin-right: 20px;
    margin-left: 20px;
}
.workersPhoto .item2 img{
    max-height: 168px;
    max-width: 168px;
    border-radius: 50%;
    object-fit: cover;

}

.item2 .header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    color: #000000;
}
.item2 p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.item2 a{
    align-self: self-start;

}
.right-button img, .left-button img{
    padding-top: 70px;
}
.item2 p:last-child{
    font-size: 18px;
    line-height: 48px;
    font-weight: 300;
    color: #000000;
}
.item2 p:last-child:before {
    content: '';
    display: block;
    width: 55px;
    height: 2px;
    background-color: #000000;
    margin: 11px auto 20px auto;
}
.pre-footer{
    height: 100%;
    background-color: black;
    padding-top:87px ;
}
.prefooter-info{
    display: flex;
    flex-wrap: wrap;
    padding: 0 125px;
    justify-content: center;
}
.pre-footer .header2{
    font-size: 60px;
    line-height: 48px;
    font-weight: 100;
    color: #ffffff;
}
.information{
    max-width: 491px;
    width: 100%;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #ffffff;

}
.form{
    max-width: 491px;
    width: 100%;
    margin-left: 98px;
    display: flex;
    flex-direction: column;

}
input {
    margin-bottom: 30px;
    background: black;
    border: none;
}

input::placeholder{
    border-bottom: 1px solid white;
    color: white;
    padding-left: 20px;
}
.color-text{
    color: white;
}

.info_list li{
    margin-bottom: 26px;
    padding-left: 30px;
}
.info_list li:nth-child(1){
    background: url("../img/pin.png") no-repeat 0 5px;
}
.info_list li:nth-child(2){
    background: url("../img/iphone.png") no-repeat 0 5px;
    margin-right: 20px;
}
.info_list li:nth-child(3){
    background: url("../img/envelope.png") no-repeat 0 5px;
}
.soc{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-right: 20px;

}
.soc:hover{
    background-color: #ffe1bd;
}
.soc img{
    margin: 20% auto;
}
.form .info_button{
    background: white;
}
.form .info_button:hover{
    color: black;
    background-color: #ffe1bd;
}
/*Adaptive for Header*/

@media (max-width: 600px) {

    .header {
        margin-bottom: 10px;
        margin-top: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .header-menu{
        justify-self: center;
    }

    .header-logo{
        margin-bottom: 10px;
    }

    .slider-column1__item2{
        margin-bottom: 50px;
    }

    .container{
        padding: 0 10px;
    }
    .main2 .main_info{
        order:2;
    }
    .main2{
        margin-bottom: 20px;
    }
    .photo-container{
        justify-content: center;

    }
    .btn:hover{
        background-color: #656565;
        color: white;
    }
    .item2:nth-child(2n+1){
        display: none;
    }
}
@media (max-width: 1149px) {
    .main{
        justify-content: center;
    }
    .main2{
        justify-content: center;
    }
    .container{
        padding: 0 10px;
    }
    .slider-column1{
        padding-bottom: 20px;
    }
    .photo-container .item1:last-child{
        display: none;
    }
    .photo-container .item1 img{
        width: 100%;
    }
    .photo-container .item1{
        max-width: 100%;
    }
    .form{
        margin-left: 0;
    }
    .prefooter-info{
        justify-content: center;
        padding: 0 10px;
    }

}

/**/
